html, body {
  background: #f8f8f8;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, a:hover, a:visited, a:active {
  text-decoration: none;
  color: #6B6D50;

}

li {
  list-style-type: none;
}

.container {
  max-width: 800px;
  margin: 2em auto;
  text-align: center;
  ul {
    li {
      display: inline-block;
      margin: 20px;
      /* width: 100px; */
      /* height: 100px; */
      background: #92B558;
      border-radius: 64px;
      color: #6B6D50;
      text-align: center;
      padding: 45px;
      cursor: pointer;
      font-size: 20px;
    }
  }

  label {
    display: inline-block;
    width: auto;
    min-width: 250px;
    padding: 6px 3px;

    input {
      width: 100%;
      padding: 1em;
      background: #fff;
      border: 1px solid rgba(0, 0, 0, .12);
      font-family: inherit;
      font-size: 15px;
      line-height: normal;
      outline: none;
      transition: background .3s ease-out, border .3s ease-out;
    }
  }

}

#page-numbers {
  margin-top: 25px;
  li {
    display: inline-block;
    float: left;
    margin-left: 10px;
  }
}

.btn {
  position: relative;
  width: auto;
  padding: 1em 2.25em;
  color: #fff;
  background-color: #9a3f6f;
  border: 1px solid #9a3f6f !important;
  font-family: inherit;
  font-size: 15px;
  line-height: normal;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
}

.menu {
  ul {
    padding-right: 40px;
    li {
      display: inline-block;
      margin: 10px;
      /* width: 100px; */
      /* height: 100px; */
      color: #6B6D50;
      text-align: center;
      padding: 5px;
      cursor: pointer;
      font-size: 20px;
    }
    .logout {
      float: right;
    }
  }
}

.form {
  width: 700px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;

  div, fieldset {
    margin-bottom: 15px;
  }
}

.txt {
  margin-bottom: 40px;
  ul {
    span {
      a {
        display: block;
        margin-top: 10px;
        color: #9a3f6f;
        position: relative;
        right: 35px;
        width: 100%;
        text-align: right;
      }
    }
  }
}