@import 'base';

.container {
  @extend .flex-column-center;
  justify-content: flex-start;
  padding-top: 30px;
  flex-grow: 2;
  box-sizing: border-box;
  padding-left: 3rem;
  padding-right: 3rem;
}
