@import 'base';

.container {
  margin: 1rem;
  padding: 1rem;
  width: 30%;
  min-width: 256px;
  display: inline-block;
}

.profile_image{
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.name{
  width: 100%;
  margin-bottom: 0;
  color: dimgrey;
}

.title{
  width: 100%;
  margin-top: 0;
  color: darkgrey;
}